/* Root */
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Content + Footer */
.app-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* LINKS: CHAT */
.left-pane {
  width: 500px;
  min-width: 320px;
  border-right: 1px solid #ddd;
  display: flex;
}

/* RECHTS: MAP + LISTE */
.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* MAP */
.map-pane {
  flex: 2;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.map-pane > * {
  height: 100%;
}

/* LISTE */
.list-pane {
  flex: 1;
  overflow-y: auto;
}

/* FOOTER */
.app-footer {
  height: 48px;
  flex-shrink: 0;
  border-top: 1px solid var(--surface-border);
  padding: 0 1.5rem;
  font-size: 0.75rem;
}

.device-navbar {
  border-radius: 1px;
  border-bottom: 1px solid var(--surface-border);
  padding: 0 1.5rem;
}